body{
	font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
a{
	color: #FF6138;
}
.no-float{
	float: none;
}
.top-marg{
	margin-top: 100px;
}

.font-dosis{
	font-family: 'Dosis', sans-serif;
}
.font-lobster{
	font-family: 'Lobster', cursive;
}
.font-big{
	font-size: 4em;
}
.green{
	color: #79BD8F;
}
.purple{
	color: #6600cc
}
.right-marg{
	margin-right: 1em;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.no-list{
	margin: 0px;
	padding: 0px;
}
.no-list li{
	list-style-type: none;
}
.back-gray{
	background-color: #eee;
}
.padd-long{
	padding: 5px 10px;
}
